{% extends 'base.html.twig' %}

{% block title %}Mon CV en symfo{% endblock %}

{% block body %}



<div class="row">
    <div class="col">
        <h1>Mes formations</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Ecole</th>
                <th scope="col">Diplôme</th>
                <th scope="col">Années</th>
                </tr>
            </thead>
            <tbody>
                {% for education in educations %}
                    <tr>
                        <th scope="row">{{ education.school }}</th>
                        <td>{{ education.degree }}</td>
                        <td>{{ education.year }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <a href="/experiences">
            <button type="button" class="btn btn-primary">Voir mes expériences</button>
        </a>
    </div>
</div>
{% endblock %}
