{% extends 'base.html.twig' %}

{% block title %}Mon CV en symfo{% endblock %}

{% block body %}
<h1>Mes hobbies</h1>
<div class="row">
    <div class="col">
        <h2>Le skateboard</h2>
        <p>Passion que j'ai depuis mon enfance, j'ai arrété à ma majorité quand j'ai continué mes études.
        Je reprends après plus de 15 ans d'arrêts, le retour est plutôt difficile, surtout physiquement ^_^
        </p>
        <iframe src="https://giphy.com/embed/tgIhKRf5ELIje" width="480" height="306" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="col">
        <h2>L'informatique</h2>
        <p>Forcément sinon je ne deviendrais pas développeur web ahah. J'ai toujours était entouré d'ordinateur, j'ai découvert
        sous windows 3.1 et depuis je n'ai jamais laché !</p>
        <iframe src="https://giphy.com/embed/citBl9yPwnUOs" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Le pari E-sport</h2>
        <p>Nouvelle passion depuis quelques mois maintenant, j'essaye de me mettre de façon rigoureuse à la gestion
        de bankroll et du pari professionnel. Je me focalise pour le moment sur le jeu CS:GO et tente de connaître au 
        maximum cet univers afin d'affiner mes paris.</p>
        <iframe src="https://giphy.com/embed/WTXdxbcK5JSdAjXGWj" width="480" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="col">
        <h2>La crypto-monnaie</h2>
        <p>Hobby que je regarde d'assez loin en espérant que mes alt-coins me rendent un jour millionnaire xD</p>
        <iframe src="https://giphy.com/embed/9dPDN0CDo9WY0aeQb4" width="480" height="418" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4">
        <a href="/contact">
            <button type="button" class="btn btn-primary">Me contacter</button>
        </a>
    </div>
</div>
{% endblock %}
