{% extends 'base.html.twig' %}

{% block title %}Mon CV en symfo{% endblock %}

{% block body %}
<h1>Bienvenue sur mon CV en ligne</h1>
<h2>Je suis Geoffrey Sorriaux</h2>
<h3>Et je suis (presque) développeur web !</h3>
<div class="row">
    <div class="col">
        <p>Après une carrière de comptable j'ai décidé de me reconvertir dans le dev web. J'ai ressenti le besoin
            d'exercer un métier en phase avec mes centres d'intérêts.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4">
        <a href="/experiences">
            <button type="button" class="btn btn-primary">Voir mes expériences</button>
        </a>
    </div>
</div>
{% endblock %}
